# Framework principal
fastapi
uvicorn[standard]

# ORM y conexión a MySQL
sqlalchemy
pymysql
sqlmodel

# Seguridad y autenticación
python-jose[cryptography]
passlib[bcrypt]

# Validación de datos
pydantic

# Manejo de formularios y uploads
python-multipart

# Extracción de tablas de PDF
tabula-py